<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selaras Organizer</title>
    <link rel="stylesheet" th:href="@{/css/register-page.css}"/>
</head>
<body>
    <header>
        <nav>
            <img th:src="@{/img/selaras-logo.png}" alt="logo selaras organizer" />
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li>Profile</li>
                <li>Contact</li>
            </ul>
            <button id="btn-started">Let's Get Started</button>
        </nav>
    </header>
    <main>
        <div class="hero-container">
            <div id="img-container">
                <img th:src="@{/img/selaras-logo.png}" alt="logo selaras organizer" />
            </div>
            <div id="form-container">
                <form th:action="@{/register}" th:object="${registerRequest}" method="post" id="form-register">
                    <h1>Register</h1>
                    <input type="text" th:field="*{nama}" placeholder="Masukkan Nama" required />
                    <input type="text" th:field="*{alamat}" placeholder="Masukkan Alamat" required />
                    <input type="tel" th:field="*{kontak}" placeholder="Masukkan Kontak" required />
                    <input type="text" th:field="*{username}" placeholder="Masukkan Username" required />
                    <input type="email" th:field="*{email}" placeholder="Masukkan Email {nama}@selarasorganizer.com" required />
                    <input type="password" th:field="*{password}" placeholder="Masukkan Password" required />
                    <input type="submit" value="Register" />
                </form>
                <p>Already have an account? <a th:href="@{/login}">Login</a></p>
        </div>
    </main>
</body>
</html>