<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selaras Organizer</title>
    <link rel="stylesheet" th:href="@{/css/home-page.css}" />
</head>
<body>
    <header>
        <nav>
            <img th:src="@{/img/selaras-logo.png}" alt="logo selaras organizer">
            <ul>
                <li><a href="">Home</a></li>
                <li>Profile</li>
                <li>Contact</li>
            </ul>
            <button id="btn-starter">Let's Get Started</button>
        </nav>
    </header>
    <section>
        <div class="hero-container">
            <h1>Selaras Event Organizer</h1>
            <h3>"Mewujudkan Momen dalam Harmoni</h3>
            <p>Selaras Organizer adalah perusahaan jasa event organizer yang hadir untuk menciptakan acara yang berjalan lancar, elegan, dan penuh makna. Kami berfokus pada harmoni dalam setiap detail — mulai dari konsep, perencanaan, hingga pelaksanaan, demi memastikan setiap momen menjadi kenangan terbaik bagi klien kami.</p>
            <div class="btn-home">
                <button id="register-btn"><a th:href="@{/register}">Register</a></button>
                <button id="login-btn"><a th:href="@{/login}">Login</a></button>
            </div>
        </div>
        <img th:src="@{/img/geometric_img.jpg}" alt="geometric background">
    </section>
</body>
</html>