:root {
    --navbar-color: #41959D;
    --hero-color: #C0DEE5;
    --btn-color: #07575B;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
body {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: 5em 1fr;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #F5F5F5;
}

header {
    grid-area: header;
    position: sticky;
    z-index: 1;
    background-color: var(--navbar-color);
}

/* Navbar */
nav {
    margin: 0 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav > img:first-of-type {
    width: 4em;
    height: 4em;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4em;
}

li {
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
}

li:hover {
    background-color: #188187;
    transition: 0.5s;
}

li:nth-of-type(5) {
    background-color: #188187;
}

a {
    all: unset;
}

.icon {
    display: flex;
    gap: 3em;
}

.icon > img {
    width: 2.5em;
    padding: 0.3em;
}

.icon > img:hover {
    cursor: pointer;
    background-color: #2a858a;
}


/* Main Section */
.main-section {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.main-section > button:first-of-type {
    width: 8%;
    padding: 0.3em;
    font-size: 1em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    background-color: var(--navbar-color);
}

.main-section > button:first-of-type:hover {
    background-color: #36b9c5;
    transition: 0.5s;
}

.main-section > h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: bold;
}

.main-section > h3 {
    display: block;
    text-align: center;
    padding: 0.5em;
    background-color: white;
    border-radius: 1em 1em 0 0;
}

/* Table */
.table-container {
    width: 100%;
    max-height: 11rem;       
    overflow-x: auto;     
    border: 1px solid #ddd;
    border-radius: 0 0 1em 1em;
    margin-bottom: 2em;
}

table thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th, table td {
    padding: 0.7em;
    border-bottom: 1px solid #eee;
}

th {
    font-weight: 700;
}

td > button {
    width: 5em;
    padding: 0.2em;
    border: 1px solid #61A4AB;
    border-radius: 0.3em;
    color: #61A4AB;
}


