:root {
    --navbar-color: #41959D;
    --hero-color: #C0DEE5;
    --btn-color: #07575B;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: 5em 1fr;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  display: none; 
}

header {
    grid-area: header;
    background-color: var(--navbar-color);
    position: sticky;
    z-index: 1;
}

nav {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav>img:first-of-type {
    width: 4em;
    height: 4em;
}

.icon {
    display: flex;
    gap: 3em;
}

.icon>img {
    width: 2.5em;
    padding: 0.3em;
}

.icon>img:hover {
    cursor: pointer;
    background-color: #2a858a;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 4em;
}

li {
    cursor: pointer;
    padding: 0.5em;
    font-size: 1.3em;
    margin: 0.5em;
}

li:hover {
    background-color: #188187;
    transition: 0.5s;
}

li:first-of-type {
    background-color: #188187;
}

a {
    all: unset;
}

#popup-logout {
    display: none;
}

/* MAIN */
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

/* CONTAINER IMG*/
#main-img {
    margin-top: 2em;
    position: relative;      
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

/* Gambar */
#main-img img {
    width: 95%;
    height: 100%;
    border-radius: 1em;
    opacity: 0.7;
}

/* Overlay gelap */
#main-img .overlay {
    position: absolute;
    top: 0;
    width: 95%;
    height: 100%;
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.1); 
    z-index: 2;
}


/* MAIN SECTION */
#main-section {
    width: 95%;
    display: flex;
    gap: 1em;
}

#info-card {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

#info-card div {
    width: 100%;
    height: 7rem;
    border-radius: 1em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#dashboard-wrap {
    padding: 1em;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    background-color: #fff;
}

#table-container table {
    margin: 1em;
}

tr, td, th {
    padding: 1em;
}