:root {
    --navbar-color: #41959D;
    --hero-color: #C0DEE5;
    --btn-color: #07575B;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
body {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-rows: 5em 1fr;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #F5F5F5;
}

header {
    grid-area: header;
    position: sticky;
    z-index: 1;
    background-color: var(--navbar-color);
}

/* Navbar */
nav {
    margin: 0 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

nav > img:first-of-type {
    width: 4em;
    height: 4em;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4em;
}

li {
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
}

li:hover {
    background-color: #188187;
    transition: 0.5s;
}

li:nth-of-type(5) {
    background-color: #188187;
}

a {
    all: unset;
}

.icon {
    display: flex;
    gap: 3em;
}

.icon > img {
    width: 2.5em;
    padding: 0.3em;
}

.icon > img:hover {
    cursor: pointer;
    background-color: #2a858a;
}


/* POPUP LOGOUT */
#popup-logout {
    padding: 1em;
    width: 8rem;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    position: absolute;
    top: 4em;
    right: 3.5em;
    border-radius: 0.5em;
    border: 1px solid #000;
    background-color: #F5F5F5;
}

#popup-logout p {
    color: #000;
}

#popup-logout button {
    padding: 0.5em;
    width: 100%;
    border-radius: 0.5em;
    border: 1px solid #000;
    cursor: pointer;
}

#popup-logout button:hover {
    color: #ffffff;
    transition: 0.5s;
    background-color: red;
}


/* Main Content */
main {
    grid-area: main;
    overflow-y:auto;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

main::-webkit-scrollbar {
    display: none;
}

main div {
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #ffffff;
    gap: 1em;
}

/* DAFTAR JENIS VENDOR*/
#daftar-event-berjalan,
#daftar-riwayat-event {
    padding: 2em;
}

.table-container {
    background: #fff;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    height: 12rem;
    border: 1px solid #ccc;
}

#tabel-event-berjalan thead th,
#tabel-riwayat-event thead th {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#tabel-event-berjalan tbody td,
#tabel-riwayat-event tbody td {
    padding: 10px;
    background: #f5f5f5;           
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
}