:root {
    --navbar-color: #41959D;
    --hero-color: #C0DEE5;
    --btn-color: #07575B;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    display: grid;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: 10% 1fr;
}

header {
    grid-area: header;
    margin: 1em;
    height: 100%;
    background-color: var(--navbar-color);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    margin-left: 1em;
    margin-right: 1em;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav>img {
    width: 60px;
    height: 60px;
}

ul {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em;
    
}

li:hover {
    background-color: #07575B;
    transition: 0.5s;
}

li > a {
   all: unset; 
}

#btn-started {
    width: 7em;
    height: 3.5em;
    border-radius: 3em;
    color: white;
    background-color: var(--btn-color);
    cursor: pointer;
    overflow: hidden;
    font-size: 1em;
}

#btn-started:hover {
    background-color: var(--hero-color);
    color: black;
    transition: 0.5s;
}

main {
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 40%;
<<<<<<< HEAD
    height: 60%;
    border-radius: 1em;
    background-color: var(--hero-color);
=======
    height: 35rem;
    border-radius: 1em;
    background-color: var(--hero-color);
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px;
}

#img-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-container img {
    width: 70%;
    height: 60%;
}

#form-container {
    width: 50%;
    height: 100%;
>>>>>>> 6903204c1cf9f4d99aef6ebc2575a90f765c71b3
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px;
}

#img-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    align-items: center;
}

#img-container img {
    width: 70%;
    height: 60%;
}

#form-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

=======
}

>>>>>>> 6903204c1cf9f4d99aef6ebc2575a90f765c71b3
#form-register {
    width: 100%;
    height: 80%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
<<<<<<< HEAD
    gap: 0.5em;
=======
    gap: 1em;
>>>>>>> 6903204c1cf9f4d99aef6ebc2575a90f765c71b3
}

#form-register h1 {
    width: 75%;
    text-align: center;
    margin-top: 0.5em;
}

#form-register input {
    width: 75%;
    padding: 0.5em;
    border: 1px solid;
    border-radius: 0.5em;
}

input[type="submit"] {
    width: 80%;
    font-size: 1em;
    color: white;
    background-color: var(--btn-color);
    border-radius: 10em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #41959D;
    transition: 0.5s;
}