<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selaras Organizer</title>
    <link rel="stylesheet" th:href="@{/css/dashboard-asisten.css}"/>
</head>
<body>
    <header>
        <nav>
            <img th:src="@{/img/selaras-logo.png}" alt="logo selaras organizer"/>
            <ul>
                <li><a href="">Dashboard</a></li>
                <li><a th:href="@{klien-asisten.html}">Klien</a></li>
                <li><a href="">Event</a></li>
                <li><a href="">Budgeting</a></li>
                <li><a href="">Laporan</a></li>
            </ul>
            <div class="icon">
                <img th:src="@{/img/notification-icon.png}" alt="notif icon"/>
                <img th:src="@{/img/profile-icon.png}" alt="profile icon" />
            </div>
        </nav>
    </header>

    <section class="main-section">
        <div class="info-card">
            <div id="klien-aktif">
                <h1>18</h1>
                <p>Event Ditangani</p>
            </div>
            <div id="klien-aktif">
                <h1>4</h1>
                <p>Klien</p>
            </div>
            <div>
                <h1>12</h1>
                <p>Event Tuntas</p>
            </div>
        </div>
        
        <div class="dashboard-wrap">
            <div id="event-terdekat">
                <table>
                    <caption>Event Terdekat</caption>
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Klien</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Asisten</th>
                        </tr>    
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sweet 17</td>
                            <td>Vevilla</td>
                            <td>4 November 2025</td>
                            <td>Agatha</td>
                        </tr>
                        <tr>
                            <td>Wedding</td>
                            <td>Axel</td>
                            <td>7 November 2025</td>
                            <td>Max</td>
                        </tr>
                        <tr>
                            <td>Gathering</td>
                            <td>Ana</td>
                            <td>9 November 2025</td>
                            <td>Michael</td>
                        </tr>
                        <tr>
                            <td>Wedding</td>
                            <td>Nala</td>
                            <td>9 November 2025</td>
                            <td>Abigail</td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>

            <div id="analisis-vendor">
                <h1>Analisis Jenis Vendor</h1>
            </div>

            <div id="jadwal-event">
                <h1>Jadwal Event</h1> 
            </div>
        </div>
    </section>
</body>
</html>