<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selaras Organizer</title>
    <link rel="stylesheet" th:href="@{/css/dashboard-asisten.css}"/>
    <script th:src="@{/js/logoutScript.js}" defer></script>
</head>
<body>
    <header>
        <nav>
            <img th:src="@{/img/selaras-logo.png}" alt="logo selaras organizer"/>
            <ul>
                <li>Dashboard</li>
                <li><a th:href="@{/klien-asisten}">Klien</a></li>
                <li><a th:href="@{/event-asisten}">Event</a></li>
                <li><a th:href="@{/budgeting-asisten}">Budgeting</a></li>
                <li><a th:href="@{/laporan-asisten}">Laporan</a></li>
            </ul>
            <div class="icon">
                <img th:src="@{/img/notification-icon.png}" alt="notif icon"/>
                <img id="user-btn" th:src="@{/img/profile-icon.png}" alt="profile icon" />
            </div>

            <!--POP UP LOGOUT -->
            <div id="popup-logout">
                <p>Name</p>
                <button id="logout-btn">Logout</button>
            </div>
        </nav>
    </header>

    <main>
        <section id="main-img">
            <div class="overlay"></div>
            <img th:src="@{/img/event-hero.jpg}" alt="event image">
        </section>

        <section id="main-section">
            <div id="info-card">
                <div id="event-ditangani">
                    <h1>18</h1>
                    <p>Event Ditangani</p>
                </div>

                <div id="klien-aktif">
                    <h1>4</h1>
                    <p>Klien</p>
                </div>

                <div id="event-tuntas">
                    <h1>12</h1>
                    <p>Event Tuntas</p>
                </div>
            </div>
        
                
            <div id="table-container">
                <h1>Event Terdekat</h1>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Klien</th>
                            <th scope="col">Tanggal</th>
                            <th scope="col">Asisten</th>
                        </tr>    
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sweet 17</td>
                            <td>Vevilla</td>
                            <td>4 November 2025</td>
                            <td>Agatha</td>
                        </tr>
                        <tr>
                            <td>Wedding</td>
                            <td>Axel</td>
                            <td>7 November 2025</td>
                            <td>Max</td>
                        </tr>
                        <tr>
                            <td>Gathering</td>
                            <td>Ana</td>
                            <td>9 November 2025</td>
                            <td>Michael</td>
                        </tr>
                        <tr>
                            <td>Wedding</td>
                            <td>Nala</td>
                            <td>9 November 2025</td>
                            <td>Abigail</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    
</body>
</html>